
<html>
 <head>
 <title>Intro to Node and MongoDB</title>
 </head>
 
 <body>
     <center>
 <h1>Node and MongoDB</h1>
 <form method="post" action="/loginUser">
 <label>Enter Your Information</label><br>
 <input type="text" name='username'  placeholder="Enter name..." required>
 <input type="password" name='password' placeholder="Enter salary..." required>
 <input type="submit" value="login">
    
 </form>
         <br>
         <h3>{{msg}}</h3>
         </center>
 </body>
</html>